@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

header {
    background-color: #0D1B2A; 
    color: #58A6FF; 
    text-align: center;
    padding: 5px 15px;
}

h1{
    font-size: 40px;
    font-family: "Merriweather", serif;
}

header nav {
    font-size: 21px;
}

main {
    background-color: #14213D; 
    flex: 1;
    text-align: center;
    border: 1px solid #FF6B6B;
}

h2 {
    color: #58A6FF;
    font-family: "Merriweather", serif;
}

p {
    max-width: 820px; 
    margin: 0 auto; 
    text-align: center; 
    line-height: 2.2; 
    color: #34D1BF;
}

footer {
    background-color: #0D1B2A; 
    text-align: center;
    padding: 3px 12px;

}

nav {
    color: #58A6FF;
}

a {
    color: #34D1BF;
    text-decoration: none;
}

a:hover {
    color: #FF6B6B; 
    text-decoration: underline;
}

img {
    width: 10%;
}

figcaption {
    color: #34D1BF;
    font-style: italic;
}

li {
    color:#34D1BF;
    text-align: left;
    margin-left: 0;

}

ul {
    padding-left: 550px; 
    padding-right: 250px;
    line-height: 1.5; 

}

ul ul { 
    padding-left: 20px; 
}