@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    background-color: #14213D; 
}

header {
    background-color: #0D1B2A; 
    color: #58A6FF; 
    text-align: center;
    padding: 5px 15px;
}

h1{
    font-size: 35px;
    font-family: "Merriweather", serif;
}

header nav {
    font-size: 22px;
}

footer nav {
    font-size: 20px;
}

main {
    background-color: #14213D; 
    flex: 1;
    text-align: center;
    max-width: 1555px;
    margin: 0 auto;
    width: 95%;
}

h2 {
    color: #58A6FF;
    font-family: "Merriweather", serif;
}

h3 {
    color: #FAF9F6;
}

p {
    
    text-align: left; 
    line-height: 2.2; 
    color: #34D1BF;
}

footer {
    background-color: #0D1B2A; 
    text-align: center;
    padding-top: 15px;
}

nav {
    color: #58A6FF;
}

a {
    color: #FAF9F6;
    text-decoration: none;
}

a:hover {
    color: #FF6B6B; 
    text-decoration: underline;
}

figcaption {
    color: #34D1BF;
    font-style: italic;
}

li {
    color:#34D1BF;
    text-align: left;
    margin-left: 0;

}

ul {
    line-height: 30px;
}

section {
    width: 45%;
    margin: 0 auto;
}

#copyright {
    text-align: center;
}

#home {
    text-align: center;
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    header nav {
        font-size: 20px;
    }

    main {
        max-width: 1400px;
        width: 95%;
        margin: 0 auto;
    }

    section {
        width: 100%;  
    }
    
    p {
        font-size: 16px;
    }

    footer nav {
        font-size: 17px;
    }
}

/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    header nav {
        font-size: 18px;
    }

    main {
        max-width: 980px;
        width: 95%;
        margin: 0 auto;
    }

    section {
        width: 100%;  
    }

    p {
        font-size: 15px;
        line-height: 1.8;
    }

    footer nav {
        font-size: 16px;
    }
}

/* Rule Overrides For Mobile Devices */
@media screen and ( max-width: 600px ) {
    header nav {
        font-size: 16px;
    }

    main {
        max-width: 600px;
        width: 95%;
        margin: 0 auto; 
    }

    p {
        font-size: 14px;  
        line-height: 1.8;  
    }

    ul {
        font-size: 14px;
    }

    section {
        width: 100%;  
    }

    footer nav {
        font-size: 15px;
    }
}