<nav>
    <a href = "https://webpages.charlotte.edu/bly3/" target="_blank">Charlotte.edu</a>
    ||
    <a href="https://github.com/baoly25/baoly25.github.io" target="_blank">GitHub</a>
    ||
    <a href="https://baoly25.github.io/" target="_blank">GitHub.io</a>
    ||
    <a href="https://baoly25.github.io/itis3135/" target="_blank">ITIS3135.io</a>
    ||
    <a href="https://www.freecodecamp.org/bly3" target="_blank">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/bly3" target="_blank">Codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/baoly/" target="_blank">LinkedIn</a>
</nav>
<p>
    Designed by <a href="lyenterprises.co/" target="_blank">Ly Enterprises</a> &copy; 2025, 
    <em>Certified in <a href="https://www.freecodecamp.org/certification/bly3/responsive-web-design" target="_blank">Responsive Web Design</a></em>
</p>